{% extends 'base.html' %}

{% block content %}
    {% if threads %}
    <div class="container-fluid table-header">
        <div class="col-3 mr-auto threads-hidden fade">
            <a href="javascript:void(0)" data-count="0">Show hidden rows</a>
        </div>
        <div class="form-group col-3 ml-auto threads-search">
          <label for="table-threads-search"></label>
          <input type="text" class="form-control" name="search" id="table-threads-search" aria-describedby="Search" placeholder="Search">
        </div>
    </div>
    <table id="table-threads" class="w-100 table table-striped table-bordered">
    <thead class="bg-light">
        <tr class="row col-12 m-0 p-0">
            <th class="col-5">Title</th>
            <th class="col-2">Source</th>
            <th class="col-1">Algo</th>
            <th class="col-2">Author</th>
            <th class="col-2"></th>
        </tr>
    </thead>
    <tbody class="">
        {% for thread in threads %}
        <tr class="row col-12 m-0 p-0">
            <td class="thread-title col-5"><a href={{ thread.source }}>{{ thread.title }}</a></td>
            <td class="col-2"><a href={{ thread.source }} target="_blank">BitCoinTalk</a></td>
            <td class="thread-algo col-1">
                {% for algo in thread.algo %}
                    <span>{{ algo }}</span>
                {% endfor %}
            </td>
            <td class="col-2"><span>{{ thread.author }}</span></td>
            
            <td class="row col-2 p-0 m-0">
                <div class="row col-12 w-100 m-0">
                    <button class="btn btn-warning text-default">
                        <i class="fa fa-eye" aria-hidden="true"></i>
                    </button>
                </div>
            </td>
            <tr class="thread-info bg-white row col-12 p-0 m-0">
                <td id="thread-info-close" class="border-none">
                    <a href="javascript:void(0)" class="ml-auto btn btn-danger" role="button">
                    <i class="fa fa-times" aria-hidden="true"></i>
                    </a>
                </td>
                <td id="thread-info-content" class="col-12 bg-white mx-auto">
                    {% autoescape on %}
                    {{ thread.info }}
                    {% endautoescape %}
                </td>
            </tr>
        </tr>
        {% endfor %}
    </tbody>
    </table>
    {% else %}
    <p class="w-100 text-center lead font-weight-bold alert alert-warning alert-block">
        Data is currently unavailable
    </p>
{% endif %}
{% endblock %}
