.table-header {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    max-height: 50px;
    font-size: 14px;
}
.table-header .threads-hidden {
    padding: 0;
    margin: 0;
    bottom: 0;
    left: 0;
}
.table-header .threads-hidden a {
    padding: 0;
    margin: 0;
}
.table-header .threads-search {
    padding: 0 ;
}

#table-threads {
    margin-top: 30px;
}
#table-threads td {
    display: flex;
    align-items: center;
}

#table-threads tbody > tr td:last-child {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#table-threads tbody button {
    margin: 10px;
    border-radius: 50%;
    font-size: 24px;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#thread-info-content {
    border: none !important;

}
#thread-info-close {
    border: none;
}
#thread-info-close .btn {
    padding: 0;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(200, 35, 51) !important;
}

.thread-algo {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.thread-info {
    display: none;
}